/* ! box area */

.boxes {
  margin: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.redbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 500px;
  background-color: red;
  border-radius: 50px;
  box-shadow: 10px 10px 10px grey;
}
.bluebox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 400px;
  background-color: blue;
  border-radius: 50px;
}
.yellowbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  background-color: yellow;
  border-radius: 50px;
}
.magentabox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  background-color: magenta;
  border-radius: 50px;
}
.blackbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background-color: black;
  border-radius: 50px;
}

/* ! button area */
.buttonarea {
  margin: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileConfirm {
  width: 100px;
  height: 30px;
  background-color: blueviolet;
  color: whitesmoke;
}
